USE [data_control]

GO

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

DROP TABLE

IF EXISTS [dbo].[db_log]
	CREATE TABLE [dbo].[db_log] (
		 [log_id] BIGINT IDENTITY(1, 1) NOT NULL
		,[timestamp] DATETIME2(7) NOT NULL
		,[notified] BIT NOT NULL CONSTRAINT [DF_db_log_notified] DEFAULT(0)
		,[duration_seconds] DECIMAL(38, 20) NOT NULL
		,[level] NVARCHAR(15) NULL
		,[table] NVARCHAR(30) NULL
		,[rows] INTEGER NULL
		,[action] NVARCHAR(MAX) NULL
		,[message] NVARCHAR(MAX) NULL
		,PRIMARY KEY CLUSTERED (log_id ASC) WITH (OPTIMIZE_FOR_SEQUENTIAL_KEY = ON)
		);

CREATE NONCLUSTERED INDEX idx_db_log_timestamp ON [dbo].[db_log] ([timestamp] DESC);

CREATE NONCLUSTERED INDEX idx_db_log_level_timestamp ON [dbo].[db_log] (
	 [level]
	,[timestamp] DESC
	);

GO